@page
@model BankLoginApp.Pages.DashBoardModel
@{
}
<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
</head>
<body>
    <h1>Welcome to Your Dashboard ,@ViewData["User"]</h1>
    <div>
        <button>Change Password</button>
        <button>Update Profile</button>
        <form method="post">
            <br />
            <button type="submit">Logout</button>
        </form>
    </div>
</body>
</html>
